input.long{
    width: 22%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

table{
    width: 50%;
    
}

td{
    text-align: center;
}

tr:hover {
    background-color: red;
}